<div class="my_navbar navbar navbar-expand-md">
    <a href="{% url 'homePage' %}" class="navbar-brand my_brand"><h1>Recipes</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation"> <i class="fas fa-ellipsis-h"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav ml-auto">
            <a href="{% url 'homePage' %}" class="nav-item nav-link my_links"><h4>Home</h4></a>
            <a href="{% url 'allRecipes' %}" class="nav-item nav-link my_links"><h4>All Recipes</h4></a>
            
            {% if user.is_authenticated %}
            <a href="{% url 'addRecipe' %}" class="nav-item nav-link my_links"><h4>New Recipe</h4></a>
            <a class="nav-item nav-link my_links" href="{% url 'myRecipe' %}"><h4>My Recipes</h4></a>
            <a class="nav-item nav-link my_links" href="{% url 'logout' %}"><h4>Logout</h4></a>
            {% else %}
            <a class="nav-item nav-link my_links" href="{% url 'login' %}"><h4>Login</h4></a>
            <a class="nav-item nav-link my_links" href="{% url 'register' %}"><h4>Register</h4></a>
            {% endif %}
        </div>
    </div>
</div>