{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class='row'>
    <div class='col-1'></div>
    <div class="content-section container-fluid col-10">
        <div class="media row">
            <div class='col-3'></div>
            <img class="rounded-circle account-img col-3" src="../../static/users/default.gif"><br>
            <div class="media-body col-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            <div class='col-3'></div>
        </div>
        <br>
        <br>
        <div class="container">
            <br>
            <div class='AR_heading'>
                <h1> My Recipes </h1>
            </div>
                {% if my_recipes_list %}
                    {% for recipe in my_recipes_list %}
                        <div class='recipe_item'>
                            <h3>{{ recipe.name }}</h3>
                            <p>
                                <h4>Ingredients:</h4> {{ recipe.ingredients }} <br>
                                <h4>Instructions:</h4> {{ recipe.instructions }}
                            </p>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                    <br><br><br>
                    <h2>No Recipes have been created yet</h2>
                {% endif %}
        </div>
        <div class='row'>
                <div class='col-4'></div>
                <div class="addrecipebutton col-4">
                <a href="{% url 'addRecipe' %}" class="btn btn-primary add_recipe_btn">Add Recipe</a>
                </div>
                <div class='col-4'></div>
                <br><br>
        </div>
    </div>
    <div class='col-1'></div>
</div>
<br><br><br>
{% endblock %}