{% extends 'base.html' %}
{% block content %}
<br>
<div class='row'></div>
    <div class='col-1'></div>
    <div class="content-section container-fluid col-10">
        <br>
        <div class="media row">
            <div class='col-3'></div>
            <img class="rounded-circle account-img col-3" src="{{ user.profile.image.url }}"><br>
            <div class="media-body col-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            <div class='col-3'></div>
        </div>
        <br>
        <div class='row'>
            <div class='col-4'></div>
            <a href="{% url 'profile' %}" class="btn btn-info edit_profile_btn col-4"><i class="far fa-edit"></i> Edit Profile</a>
            <div class='col-4'></div>
        </div>
        <br>
        <br>
        <div class="container">
            <br>
            <div class='AR_heading'>
                <h1> My Recipes </h1>
            </div>
                {% if my_recipes_list %}
                    {% for recipe in my_recipes_list %}
                        <div class='recipe_item stitched'>
                            <h3>{{ recipe.name }}</h3>
                            <p>
                                <h4>Ingredients:</h4> {{ recipe.ingredients }} <br>
                                <br>
                                <h4>Instructions:</h4> {{ recipe.instructions }}
                            </p>
                            <div class='button-line'>
                                <form action="{% url 'delRecipe' %}" method="POST" class='line-button'>
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ recipe.id }}">
                                    <input type="submit" value='X  Delete' class="btn btn-warning delete_recipe_btn">
                                </form>
                                <a href="{% url 'updateRecipe' recipe.id %}" class="btn btn-info update_recipe_btn line-button"><i class="far fa-edit"></i> Update</a>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                    <br><br><br>
                    <h2>No Recipes have been created yet</h2>
                {% endif %}
        </div>
        <div class='row'>
                <div class='col-4'></div>
                <div class="addrecipebutton col-4">
                <a href="{% url 'addRecipe' %}" class="btn btn-primary add_recipe_btn"><i class="fas fa-plus"></i>  Add Recipe</a>
                </div>
                <div class='col-4'></div>
                <br><br>
        </div>
    </div>
    <br>
    <div class='col-1'></div>
    <div class="pagination row" id=allpag>
        <div class='col-4'></div>
        <span class="step-links col-4">
            {% if contacts.has_previous %}
                <a href="?page=1"> &laquo; first </a>
                    | 
                <a href="?page={{ contacts.previous_page_number }}"> previous </a>
                    | 
            {% endif %}
    
            <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }} 
            </span>
    
            {% if contacts.has_next %}
                    | 
                <a href="?page={{ contacts.next_page_number }}"> next </a>
                    | 
                <a href="?page={{ contacts.paginator.num_pages }}"> last &raquo; </a>
            {% endif %}
        </span>
        <div class='col-4'></div>
    </div>
</div>
<br><br><br>
{% endblock %}