{% extends 'base.html' %}
{% block content %}
<br>
<div class='row'>
    <div class='col-1'></div>
    <div class="content-section container-fluid col-10">
        <br>
        <div class="media row">
            <div class='col-3'></div>
            <img class="rounded-circle account-img col-3" src="{{ user.profile.image.url }}"><br>
            <div class="media-body col-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            <div class='col-3'></div>
        </div>
        <br>
        <div class='row'>
            <div class='col-4'></div>
            <a href="{% url 'profile' %}" class="btn btn-info edit_profile_btn col-4">Edit Profile</a>
            <div class='col-4'></div>
        </div>
        <br>
        <br>
        <div class="container">
            <br>
            <div class='AR_heading'>
                <h1> My Recipes </h1>
            </div>
                {% if my_recipes_list %}
                    {% for recipe in my_recipes_list %}
                        <div class='recipe_item stitched'>
                            <h3>{{ recipe.name }}</h3>
                            <p>
                                <h4>Ingredients:</h4> {{ recipe.ingredients }} <br>
                                <br>
                                <h4>Instructions:</h4> {{ recipe.instructions }}
                            </p>
                            <form action="{% url 'delRecipe' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ recipe.id }}">
                                <input type="submit" value="Delete" class="btn btn-warning delete_recipe_btn">
                            </form>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                    <br><br><br>
                    <h2>No Recipes have been created yet</h2>
                {% endif %}
        </div>
        <div class='row'>
                <div class='col-4'></div>
                <div class="addrecipebutton col-4">
                <a href="{% url 'addRecipe' %}" class="btn btn-primary add_recipe_btn">Add Recipe</a>
                </div>
                <div class='col-4'></div>
                <br><br>
        </div>
    </div>
    <div class='col-1'></div>
</div>
<br><br><br>
{% endblock %}