{% extends 'base.html' %}
{% block content %}
<br>
<div class='row'></div>
    <div class='col-1'></div>
    <div class="content-section container-fluid col-10">
        <br>
        <div class="media row">
            <div class='col-3'></div>
            <img class="rounded-circle account-img col-3" src="{{ user1.profile.image.url }}"><br>
            <div class="media-body col-3">
                <h2 class="account-heading">{{ user1.username }}</h2>
                <p class="text-secondary">{{ user1.email }}</p>
                <p class="bio-text">About me: <br>
                    {{ user1.profile.bio }}
                </p>
            </div>
            <div class='col-3'></div>
        </div>
        <br>
        <br>
        <div class="container">
            <br>
            <div class='AR_heading'>
                <h1> {{ user1.username }}'s Recipes </h1>
            </div>
            <br>
            <div class="pagination row" id=allpag>
                <div class='col-4'></div>
                <span class="step-links col-4">
                    {% if contacts.has_previous %}
                        <a href="?page=1"> &laquo; first </a>
                            | 
                        <a href="?page={{ contacts.previous_page_number }}"> previous </a>
                            | 
                    {% endif %}
            
                    <span class="current">
                            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }} 
                    </span>
            
                    {% if contacts.has_next %}
                            | 
                        <a href="?page={{ contacts.next_page_number }}"> next </a>
                            | 
                        <a href="?page={{ contacts.paginator.num_pages }}"> last &raquo; </a>
                    {% endif %}
                </span>
                <div class='col-4'></div>
            </div>
            <br>
            {% if user_recipes %}
                {% for recipe in user_recipes %}
                    <div class='recipe_item stitched'>
                        <img src="{{ recipe.image.url }}" class="recpic">
                        <h3>{{ recipe.name }}</h3>
                        <p>
                            <h4>Ingredients:</h4> {{ recipe.ingredients }} <br>
                            <br>
                            <h4>Instructions:</h4> {{ recipe.instructions }}
                        </p>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                <br><br><br>
                <h2>No Recipes have been created yet</h2>
            {% endif %}
        </div>
        <br>
    </div>
    <br>
    <div class='col-1'></div>
    <div class="pagination row" id=allpag>
        <div class='col-4'></div>
        <span class="step-links col-4">
            {% if contacts.has_previous %}
                <a href="?page=1"> &laquo; first </a>
                    | 
                <a href="?page={{ contacts.previous_page_number }}"> previous </a>
                    | 
            {% endif %}
    
            <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }} 
            </span>
    
            {% if contacts.has_next %}
                    | 
                <a href="?page={{ contacts.next_page_number }}"> next </a>
                    | 
                <a href="?page={{ contacts.paginator.num_pages }}"> last &raquo; </a>
            {% endif %}
        </span>
        <div class='col-4'></div>
    </div>
</div>
<br><br><br>
{% endblock %}