{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <br>
    <h1 class='AR_heading'>Add Recipe</h1>
    <form class="add_form" action="{% url 'addRecipe' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name of Recipe</label>
            <input name="name" type="text" class="form-control" placeholder="ex: Chocolate Cake">
        </div>
        <div class="form-group"></div>
            <label for="">Ingredients</label>
            <input name="ingredients" type="text" class="form-control" placeholder="ex: Eggs, flour, sugar, milk, chocolate">
        </div>
        <div class="form-group">
            <label for="">Instructions</label>
            <input name="instructions" type="text" class="form-control" placeholder="ex: Mix in large bowl, pour into pan, bake for 1 hr at 450 degrees">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success form_submit">
        </div>
        <br><br>
    </form>
</div>


{% endblock %}
